force-app/main/default/flows/End_Project_Update_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_PM_Status_Inprogress</name>
        <label>Send  Email PM  Status Inprogress</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Se han realizado mofificacion en un projecto con el estado &quot;In Progress&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varEmailPM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Alert ....Changes in Project</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Not_Changes_Status_InProgress</name>
        <label>Not Changes Status = InProgress</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_InProgess</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Record_Project.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Record_Project.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Kickoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_PM_Resource</targetReference>
            </connector>
            <label>Status InProgess</label>
        </rules>
    </decisions>
    <interviewLabel>End {!$Flow.CurrentDateTime}</interviewLabel>
    <label>End Project Update Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_PM_Resource</name>
        <label>Get Email PM Resource</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_PM_Status_Inprogress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rol__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project Manager</stringValue>
            </value>
        </filters>
        <object>Resource_New__c</object>
        <outputAssignments>
            <assignToReference>varEmailPM</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Record_Project</name>
        <label>get Record Project</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Not_Changes_Status_InProgress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Record_Project</targetReference>
        </connector>
        <object>Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>varEmailPM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
