force-app/main/default/flows/Opp_CloseWon_Project_created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>addNewRecordToList</name>
        <label>addNewRecordToList</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>PLI_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PLItoRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_OLI_registers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OLI_to_PLI_assign</name>
        <label>OLI to PLI assign</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>PLItoRecord.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_OLI_registers.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLItoRecord.Hours_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_OLI_registers.Hours_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLItoRecord.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLItoRecord.Rol__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_OLI_registers.Rol__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addNewRecordToList</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Opp CloseWon-Project created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp CloseWon-Project created</label>
    <loops>
        <name>Iterate_OLI_registers</name>
        <label>Iterate OLI registers</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <collectionReference>OLI_Register_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OLI_to_PLI_assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BulkCreate_Project_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>BulkCreate_Project_Line_Items</name>
        <label>BulkCreate_Project_Line_Items</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <inputReference>PLI_Collection</inputReference>
    </recordCreates>
    <recordCreates>
        <description>a new project is created</description>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>OLI_Register_Collection</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Opportunity_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Account__c</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Manager__c</field>
            <value>
                <elementReference>$Record.Project_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pre-Kickoff</stringValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getProjectId</name>
        <label>getProjectId</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_OLI_registers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Project__c</object>
        <outputAssignments>
            <assignToReference>ProjectID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>OLI_Register_Collection</name>
        <label>OLI Register Collection</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProjectId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Hours_Qtty</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PLI_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>PLItoRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Project_Lookup</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rol</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
