force-app/main/default/flows/Start_Project1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_PM</name>
        <label>Send Email PM</label>
        <locationX>578</locationX>
        <locationY>1212</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Las horas acubrir de los recursos no fueron cubiertas en su totalidad..</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>VarEmailPM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>cappellettipablo@yahoo.com.ar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>AVISO IMPORTANTE !!! HORAS NO CUBIERTAS</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_PM_0</name>
        <label>Send Email PM</label>
        <locationX>50</locationX>
        <locationY>1452</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>El costo total del proyecto supera el valor presupuestado en opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>VarEmailPM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>AVISO IMPORTANTE !!! PROJECTO EN ESTADO DE PERDIDA</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assi_Suma_TotalHours</name>
        <label>Assi Suma TotalHours</label>
        <locationX>468</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>SumTotalhours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ResourseProject.Hours_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ResourseProject</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Project_Status_Lost</name>
        <label>Decision Project Status Lost</label>
        <locationX>182</locationX>
        <locationY>1212</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStartDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarAmount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>VarTotalCost</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Email_PM_Resource_0</targetReference>
            </connector>
            <label>Project Lost</label>
        </rules>
    </decisions>
    <decisions>
        <description>Calcula que el campo TotalHours de Project sea igual a la variable SumTotalHours</description>
        <name>Validation_Total_Hours</name>
        <label>Validation Total Hours</label>
        <locationX>380</locationX>
        <locationY>972</locationY>
        <defaultConnector>
            <targetReference>get_Email_PM_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_TotalHours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SumTotalhours</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varProjectTotalhours</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sttatus</targetReference>
            </connector>
            <label>Check TotalHours</label>
        </rules>
    </decisions>
    <interviewLabel>Start {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Start Project1</label>
    <loops>
        <name>Loop_ResourseProject</name>
        <label>Loop ResourseProject</label>
        <locationX>380</locationX>
        <locationY>636</locationY>
        <collectionReference>get_Resourse_Project</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assi_Suma_TotalHours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Validation_Total_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Email_PM_Resource</name>
        <label>get Email PM Resource</label>
        <locationX>578</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_PM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rol__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project Manager</stringValue>
            </value>
        </filters>
        <object>Resource_New__c</object>
        <outputAssignments>
            <assignToReference>VarEmailPM</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Email_PM_Resource_0</name>
        <label>get Email PM Resource</label>
        <locationX>50</locationX>
        <locationY>1332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_PM_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rol__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project Manager</stringValue>
            </value>
        </filters>
        <object>Resource_New__c</object>
        <outputAssignments>
            <assignToReference>VarEmailPM</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Project_StartDate</name>
        <label>get Project StartDate</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_projectTotalHours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Kickoff</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_projectTotalHours</name>
        <label>get projectTotalHours</label>
        <locationX>380</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Resourse_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Kickoff</stringValue>
            </value>
        </filters>
        <object>Project__c</object>
        <outputAssignments>
            <assignToReference>VarAmount</assignToReference>
            <field>Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStartDate</assignToReference>
            <field>Start_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTotalCost</assignToReference>
            <field>Total_Cost__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProjectTotalhours</assignToReference>
            <field>Total_Hours__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Resourse_Project</name>
        <label>get Resourse Project</label>
        <locationX>380</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ResourseProject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Resource_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sttatus</name>
        <label>Update Sttatus</label>
        <locationX>182</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Decision_Project_Status_Lost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Project_StartDate</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-06-06</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecResourseProject</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resource_Project__c</objectType>
    </variables>
    <variables>
        <name>SumTotalhours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VarAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VarEmailPM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectTotalhours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>varStatus1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTotalCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
